<div fxLayout='row' 
 style="background-image: url(../../../assets/form.jpg);height: 100%;padding: 20px 0;">
    <div fxLayout.lt-sm='column-reverse' fxLayout='row' fxFlexAlign='center' fxLayoutAlign='space-between none'
      class="opaque-container">
        <div fxFlex='60' class='ceo-info'>
            <span style="font-size: 48px;font-weight: bold;color: steelblue;">
                Mohamed
            </span><br>
            <span style="font-size: 44px;font-weight: normal;color: steelblue;">
                Ben Saidane
            </span><br>
            <span style="font-size: 26px;font-weight: normal;">
                Courtier Immobiler Résidentiel
            </span><br>
            <span style="font-size: 24px !important;font-weight: bold;color: salmon;">
                Cell. 514.231.8880
            </span><br>
            <span style="font-size: 17px !important;">
                mohamed.bensaidane@gmail.com
            </span><br>
            <span><a href='https://www.facebook.com/Mohamed-Ben-Saidane-101673027931782'>
                <i class="fab fa-facebook"> </i>Mohamed Ben Saidane</a></span>
           
            
        </div>
        <div fxFlex.sm='36'>
            <img [src]="photoSrc" style="height: 400px; width:75%;border-radius: 6px;border: black 3px solid;">
        </div>
    </div>
 </div>
