<div fxLayout='row'
 style="background-image: url(../../../assets/form.jpg);height: 100%;">
    <div  fxFlexAlign='center' fxLayoutAlign='space-between none'  class="opaque-container">
        <div fxFlex='60' style="text-align: left;">
            <span style="font-size: 24px;font-weight: bold;">
                Mohamed
            </span><br>
            <span style="font-size: 24px;font-weight: normal">
                Ben Saidane
            </span><br>
            <span style="font-size: 20px;font-weight: normal;">
                Courtier Immobiler Résidentiel
            </span><br>
            <span style="font-size: 22;font-weight: bold;">
                Cell. 514.231.8880
            </span><br>
            <span >
                mohamed.bensaidane@gmail.com
            </span>
           
            
        </div>
        <div fxFlex='36'>
            <img [src]="photoSrc" style="height: 400px; width:75%;border-radius: 6px;border: black 3px solid;">
        </div>
    </div>
 </div>
