<div fxLayout='row' style="background-image: url(../../../assets/home.jpg);height: 100%;padding: 20px 0;">
    <span class='back-arrow' *ngIf="formPage == 3" style="cursor: pointer;" (click)='formPage = 0;reset()'><i
            class="fas fa-arrow-left"></i></span>
    <div *ngIf="formPage !=3" fxFlexAlign='center' class="opaque-container">
        <div *ngIf="formPage == 0" class="title">
            Découvrez la valeur marchande de votre propriété</div>
        <div *ngIf="formPage == 1" class="title">
            Votre propriété a été trouvée! <br>
            <span class="sub-title">
                oû aimeriez-vous recevoir votre rapport d'évaluation?
            </span>
        </div>
        <div *ngIf="formPage == 2" class="title">
            Quelques détails supplémentaires</div>

        <form [formGroup]="formStep1">
            <div *ngIf="formPage == 0" fxLayoutGap.lt-sm='10px' fxLayout.lt-sm='column' fxLayout='row'
                fxLayoutAlign="space-around none">
                <input type="search" pInputText #addressInput placeholder="Adresse" />
                <!-- <input  fxFlex="60" type="text" formControlName='coordinates' pInputText placeholder="TO DO ANGOLIA" /> -->
                <input fxFlex="15" type="number" formControlName='aptNumber' pInputText placeholder=" Apt #" />
                <button (click)='formPage=1;' fxFlex="15" pButton type="submit" label="SUIVANT"
                    [disabled]='!formStep1.valid' class="p-button-danger"></button>
            </div>
        </form>
        <form [formGroup]="formStep2">
            <div *ngIf="formPage == 1" fxLayout.lt-sm='column-reverse' fxLayout='row' style="color: white;width: 100%;">
                <div fxFlex.sm="50" fxFlex='100' style="padding : 26px;">
                    <agm-map [zoom]='20' style="height: 287px;" [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>

                </div>
                <div style="height: 340px;" fxLayoutGap.lt-sm='10px' fxFlex='100' fxFlex.sm="50" fxLayout='column'
                    fxLayoutAlign="space-evenly  none">
                    <input formControlName="name" type="text" pInputText placeholder="Votre nom" />
                    <input formControlName="email" type="email" pInputText placeholder="Votre couriel" />
                    <input formControlName="phone" type="number" pInputText placeholder="Votre téléphone" />
                    <p-dropdown placeholder='--délai de vente--' [style]="{'width': '100%'}" formControlName="period"
                        [options]="delais"></p-dropdown>
                    <div fxLayout='row' fxLayoutAlign="space-between none">
                        <button (click)="formPage=0;reset()" fxFlex="40" pButton type="button" label="RETOUR"
                            class="p-button-danger"></button>
                        <button (click)="formPage=2" fxFlex="40" pButton type="button" label="SUIVANT"
                            [disabled]='!formStep2.valid' class="p-button-danger"></button>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]='formStep3'>
            <div *ngIf="formPage==2">
                <div fxLayout="column" fxLayoutGap='10px' fxLayoutAlign='space-between '>
                    <p-dropdown fxFlex='49' placeholder="--Année d'aquisition--" [style]="{'width': '100%','text-align':'left'}"
                        formControlName="year" [options]="yearAq"></p-dropdown>
                    <p-dropdown fxFlex='49' placeholder='--type de propriété--' [style]="{'width': '100%','text-align':'left'}"
                        formControlName="type" [options]="propertyType"></p-dropdown>
                    <input fxFlex="49" formControlName="bedrooms" type="number" pInputText
                        placeholder="Nombre de chambres" />

                </div>
                <div style="margin-top: 15px;" fxLayout.lt-sm="column" fxLayoutGap.lt-sm='10px' fxLayout="row wrap"
                    fxLayoutAlign='space-between'>
                    <button (click)="formPage=1" fxFlex="49" pButton type="button" label="RETOUR"
                        class="p-button-danger"></button>
                    <button (click)="estimate()" fxFlex="49" pButton type="button" label="OBTENIR LA VALEUR"
                        [disabled]='!formStep3.valid' class="p-button-danger"></button>
                </div>

            </div>
        </form>

    </div>
    <div *ngIf="formPage==3" fxFlexAlign='center' class="opaque-container opaque-white">
        <!-- <div class="title">
            Estimation de la valeur actuelle de la propriété
        </div>
        <div style="text-align: center;font-size: 32px;">
            {{actuel}}
        </div>
        <img src="../../../assets/triangle.png" style="height: 16px;width:16px;position: relative;  bottom: -5px;">

        <div style="border: solid 1px #0e0a0a41;padding:8px 0 ;border-right:none;border-left: none;">
            <div fxLayout='row' fxLayoutAlign='space-between none ' style="margin-bottom: 10px;">
                <div fxFlex="30" style="text-align: center;font-size: 19px;">
                    {{basse}} <br>Estimation basse
                </div>
                <div fxFlex="30" style="text-align: center;font-size: 19px;">
                    {{elevee}} <br>Estimation élevée
                </div>
            </div>
            <div style="font-size: 24px;">
                Variation de la valeur de votre propriété: {{porcentage}} <br>
                <span style="font-size: 15px;">depuis {{year}} l'augmentation de la valeur estimée de la propriété est {{croissance}}
                    croissance composée /an</span>
            </div>
        </div> -->
        <div fxLayout='column-reverse' fxLayoutGap.lt-sm='8px'
            style="margin-top: 20px;border-bottom: black 3px solid;padding-bottom: 6px;"
            fxLayoutAlign='space-between none'>
            <div fxFlex="20" style="text-align: left;font-size: 22px;font-weight: bold;">
                Mohamed Ben Saidane<br><span style="font-weight: 600;font-size: 18px;"> Courtier Immobiler</span>
            </div>
            <div fxFlex="60" style="text-align: left;font-weight: bold;font-size: 20px;margin-bottom: 20px;">
                Merci, Vous allez recevoir une évaluation approximative et l’un de nos agents vous appellera dans les
                prochaines 48 h pour établir l’évaluation marchande de votre propriété.
            </div>
        </div>
    </div>

</div>