body,
html{
    padding: 0;
    margin: 0;
    height: 100%;
}

.algolia-places {
    text-align: left !important;
    width: 67% !important;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .algolia-places {
        width: 100% !important;
    }
  }
@import '~primeicons/primeicons.css';